body {
    margin: 0;
   
}


input {
            width: 200px;
        }


        .error {
            color: red;
        
        }

        .ok {
            color: green;
        }

ul {
    margin-top: 0;
}
        li {
            display: inline-block;
        }

    header {
        background-color: lightblue;
         min-height: 150px;
         padding: 20px;
    }    